@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Github test skrevet lokalt i main</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Skrevet på Girhub server i main</p>
    <p>Added i main branch lokalt</p>
    <p>Added i main branch lokalt</p>
    <p>Added i Feature1 branch lokalt</p>
    <p>Added i feature 1</p>
    <h2>Overskrift i lavet i main</h2>
</div>
